flows/Multiple_Back_Promotion_Enabled.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Multiple Back Promotion Enabled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Multiple Back Promotion Enabled</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>delete_promoted_user_story_records</name>
        <label>delete promoted user story records</label>
        <locationX>787</locationX>
        <locationY>67</locationY>
        <inputReference>promoteduserstories</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>backpromotion</name>
        <label>backpromotion</label>
        <locationX>433</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>promoted_user_stories</targetReference>
        </connector>
        <filters>
            <field>copado__Back_Promotion__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Promotion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>promoted_user_stories</name>
        <label>promoted user stories</label>
        <locationX>624</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>delete_promoted_user_story_records</targetReference>
        </connector>
        <filters>
            <field>copado__Promotion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>promoted_user_stories</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__User_Story__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </filters>
        <object>copado__Promoted_User_Story__c</object>
        <outputReference>promoteduserstories</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>copado__Promotion__c</queriedFields>
        <queriedFields>copado__User_Story__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>26</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>backpromotion</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>backpromotions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>copado__Promotion__c</objectType>
    </variables>
    <variables>
        <name>promoteduserstories</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>copado__Promoted_User_Story__c</objectType>
    </variables>
    <variables>
        <name>UserStory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>copado__User_Story__c</objectType>
    </variables>
</Flow>
